@import 'tailwindcss';
@import 'tw-animate-css';

@theme{
   --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px;

      /* Base Colors */
  --color-white: #FFFFFF; /*used*/
  --color-navy: #0D223B; /*used*/
  --color-dark: #0A223C; /*used*/
  --color-gray: #45505C;
  --color-silverGray: #6C6C6C; /*used*/
  --color-lime: #A6EA18;  /*used*/
  --color-mint: #F8F7FE; /*used*/
  --color-slate: #24242C;
  --color-ebony: #191920;
  --color-blue: #4576FF; /*used*/
  --color-charcoal: #161616; /*used*/
  --color-ink: #000011; /*used*/
  }